/* ESTILOS GENERALES */
body{
    background: #dce8ff;
    font-family: sans-serif,Arial, Helvetica;
    text-align: center;
    padding: 0;
    margin: 0;
}

.layout{

    width: 100%;
    height: auto;

    display: grid;    
    grid-template-areas: /* definiendo las areas de mi pagina */
         "header header header header"
         "nav nav nav nav"
         "content content content lateral"
         "footer footer footer footer"    
    ;

    /* definiendo las alturas de mis columnas  */
    grid-template-rows: 100px 70px auto 70px;
}

/* ESTILOS CABECERA */
.header{
    grid-area: header;

    background: white;
    text-align: left;
    font-style: italic;
    display: flex;
    justify-content: center;

}

.logo{
    background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
    width: 40px;
    height: 40px;
    border-radius: 300px;
    margin-top: 30px;
}

.play{
    width: 0;
    height: 0;
    margin-top: 15px;
    margin-left: 16px;
    border-left: 12px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.header h1{
    margin-left: 15px;
    margin-top: 30px;
}
/* ESTILOS DE LA BARRA DE NAVEGACION */
.nav{
    grid-area: nav;
    background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
}

.nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav > ul > li{
    padding: 10px;
}

.nav >ul > li > a{
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    transition: all 300ms;
}


.nav a:hover{
    transform: scale(1.1, 1.1);
}

/* ESTILOS PARA EL CONTENIDO PRINCIPAL */
.content{
    grid-area: content;
    background: #9ec1f6;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;/* Mejora elestilo de las tarjetas, hace que cada tarjeta ocupe el contenido que corresponde */
}

.peli-item{
    flex-grow: 1;
    background: #f9f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #ddd;
    margin: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 20px;
}

button,
input[type="submit"],
input[type="button"]{
    background: #0b70e1;
    color: #ffffff;
    border: 0;
    outline: 0;
    padding: 15px;
    border-radius: 3px;
    width: 100px;
    margin-top: 15px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms;
}

.peli-item .edit:hover{
    background: #e77b00;

}

.peli-item .edit {
     margin-right: 7px;
}

.peli-item .delete:hover{
    background: #9b0202;

}

/* ESTILOS BARRA LATERAL */
.lateral{
    grid-area: lateral;
    background: #9ec1f6;
    border-left: 1px solid #ddd;
    padding: 20px;
    
}

.lateral > div{
    box-sizing: border-box;
    width: 90%;
    margin: 20px;
    padding: 20px;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #ddd;

}

input[type="text"],
input[type="text"],
textarea{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 12px;
    border-radius: 5px;
    background: #f6f7f9;
    color: #454545;
    width: 80%;
    opacity: 4;
    outline: 0;
    border-color: transparent;

}

/* ESTILOS PARA EL PIE DE PAGINA */
.footer{
    grid-area: footer;
    background: #d1defa;
    color: #454545;
    border-top: 1px solid #ffffff;
    text-align: left;
    line-height: 68px;
    padding-left: 25px;
}

.footer a{
    color: #0b468a;
    text-decoration: none;
}

/*Estilo para el ditar*/


/* ESTILOS PARA SER RESPONSIVE */
@media(max-width:1085px){
    .content{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .peli-item{
        width: 80%;
    }
}

.no-encontrado{
    color: #9b0202;
}